.badge-custom{
  background-color: #cff4fc;
  color:#50666b;
  font-weight: 400;
  font-size: 15px;
  margin-right: 10px;
  padding-block: 7px;
  margin-bottom: 20px;
}
.badge-tag{
  background-color: #f8d7da;
  color: #614446;
  font-size: 15px;
  padding-block: 8px;
  font-weight: 400;
}
.card-details{
  cursor: auto;
}