input.form-control::placeholder{
  color: lightgray ;
  opacity: 1;
}
.form-control{
  background-color: black;
  color: white !important;
}
.form-control:focus{
  background-color: black;
  color: white;
}
.loading-screen-search{
  position: absolute;
  inset: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}